h2 {
  margin: 10px 0;
  display: block;
}

h3 {
  margin-bottom: 5px;
}

section {
  margin: 10px 0px;
}

.container {
  margin: 0 auto;
  padding: 20px;
  min-width: 800px;
  max-width: 1200px;;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.input-container {
  padding: 20px;
  flex-grow: 3;
}

.input-inner-container {
  border: 1px solid black;
  background-color: antiquewhite;
  padding: 20px;
  height: 80%;
}

.output-container {
  padding: 20px;
  flex-grow: 1;
}

.output-inner-container {
    border: 1px solid black;
    padding: 20px;
    height: 80%;
}

.row {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  
}



