form {
}

section {
  margin: 10px 0px;
}

.container {
  margin: 0 autor;
  min-width: 800px;
  max-width: 1200px;;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.input-container {
  flex-grow: 3;
  background-color: aquamarine;
}

.output-container {
  flex-grow: 1;
  background-color: fuchsia;
}

.row {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  
}



